
<!DOCTYPE html>
<head>
	<meta charset="utf-8">

	<title>Econ</title>

	<!-- Behavioral Meta Data -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Core Meta Data -->
	<meta name="author" content="Aether-Themes">
	<meta name="description" content="Scenia. Cutting edge portfolio template.">
	<meta name="keywords" content="template,portfolio,creative,multipurpose,minimal,responsive,html5,css3,jquery">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="images/favicons/manifest.json">
	<link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#21252b">
	<meta name="theme-color" content="#ffffff">

	<!-- Open Graph -->
	<meta property="og:title" content="Scenia">
  <meta property="og:url" content="http://aetherthemes.com/demo/scenia/">
  <meta property="og:description" content="Scenia. Cutting edge portfolio template.">
  <meta property="og:image" content="images/preview-image.png">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="Scenia">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Scenia">
  <meta name="twitter:description" content="Scenia. Cutting edge portfolio template.">
  <meta name="twitter:image" content="images/preview-image.png">
  <meta name="twitter:site" content="@AetherThemes">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-reboot.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-grid.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>

	<!-- Javascript Libraries -->
	<script src="js/libraries/jquery-3.2.1.min.js"></script>
	<script src="js/libraries/modernizr-custom.min.js"></script>
	<script src="js/libraries/velocity.min.js"></script>
	<script src="js/libraries/three.min.js"></script>
</head>
<body>
    <main role="main">
        <section id="hero" class="hero sphere">
            <div class="hero__cross">
                <div class="title_bar" id="top_titles">
                    <a href="" class="left_title" id="upperleft"><span>Build</span></a>
                    <a href="" class="right_title" id="upperright"><span>Earn</span></a>
                </div>
                <div id="cross"></div>
                <div class="title_bar" id="lower_titles">
                    <a href="" class="left_title" id="lowerleft"><span>BNPL <br>& Lending</span></a>
                    <a href="" class="right_title" id="lowerright"><span>Econ<br>Tech</span></a>
                </div>
            </div>
            <!--
            <div class="hero__content">		
                <p>We design &amp; create</p>
                <h1>Econ</h1>
            </div>

            -->
            

            <!-- Trigger Buttons -->
            <a href="#" class="hero__trigger-button top">About</a>
            <a href="#" class="hero__trigger-button bottom">Work</a>
            

            <!-- Meta -->
            <img class="logo" src="images/logo.svg" alt="Scene Logo">

            <div class="meta name">
                <p><small>scenia</small></p>
            </div>

            <div class="meta social">
                <ul>
                    <li><a href="https://twitter.com/AetherThemes" target="_blank"><span data-hover="twitter">twitter</span></a></li>
                    <li><a href="https://www.facebook.com/aetherthemes" target="_blank"><span data-hover="facebook">facebook</span></a></li>
                </ul>
            </div>

            <div class="meta sound">
                <a class="mute-action muted" href="#"></a>
            </div>
        </section>
    </main>
</body>
</html>